@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
body {
  background-color: aqua;
  min-height: 50vh;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  width: calc(100% / N);
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  box-sizing: border-box;
}

#main {
  text-align: center;
  padding-top: 20px;
  color: black;
  font-size: 2vh;
}